* {
	padding: 0;
	margin: 0;
}

html {
	font-family: $primary-font;
	font-size: $base-font-size;
	line-height: rem(24px);
}

body {
	// background: #412A22 url("../img/noise.png") repeat;
	background: $background-color url("../img/noise.png") repeat;
}

body > #mask {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	min-width: 500px;
}

#wrapper {
	// background: #412A22 url("../img/noise.png") repeat;
	background: $background-color url("../img/noise.png") repeat;
	position: relative;
	width: 200%;
	height: 100%;
	
	-webkit-transition: width $fast $animation-curve,
											transform $fast $animation-curve;
	-moz-transition: width $fast $animation-curve,
									 transform $fast $animation-curve;
	transition: width $fast $animation-curve,
							transform $fast $animation-curve;

	.is-desktop & {
		width: 100%;
	}
	.is-mobile.is-showing-recipe & {
		// transform: translateX(-50%);
		transform: translateX(-49.99%); // Fixes bug on iPhone where there would be an overaly with a solid color while it animates
	}
}

.cup,
nav {
	position: relative;
	width: 50%;
	float: left;
	height: 100%;
}

nav {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

/*@media
screen and (min-width: 1536px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 1536px) and (orientation: portrait) and (min-resolution: 192dpi),
screen and (min-width: 2049px) and (orientation: landscape)and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 2049px) and (orientation: landscape)and (min-resolution: 192dpi) {
	html {
		font-size: 100%;
	}
}*/


/*@media 
(-webkit-max-device-pixel-ratio: 1), 
(max-resolution: 192dpi) { 
    html {
    	font-size: 100%;
    }
}*/


/*@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    html {
    	font-size: 50%;
    }
}*/



