.beverages {
	color: #FF9064;
	text-shadow: 1px 1px 0 #D9D9B4,
							 -1px -1px 0 #D9D9B4,
							 3px 3px 0 #005057;
	background: #C0F0CF url("../img/noise.png") repeat;
	position: relative;
	padding: 30px 50px 50px 50px;
	list-style: none;

	&__beverage {
		font-size: 3em;
		line-height: 1.2em;
		z-index: 1;
		cursor: pointer;
		padding: 10px 0;
		margin: 20px 0;
		text-align: center;
		border-radius: 5px;

		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;

		transform: translateY(0);
		opacity: 1;

		-webkit-transition: transform $fast $animation-curve,
												opacity $fast $animation-curve;
		-moz-transition: transform $fast $animation-curve,
										opacity $fast $animation-curve;
		transition: transform $fast $animation-curve,
								opacity $fast $animation-curve;
								

		&.animate-in {
			transform: translateY(50px);
			opacity: 0;
		}

		&:hover,
		&.selected {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}
}