.beverages {
	background: $background-color url("../img/noise.png") repeat;
	position: relative;
	padding: 0 50px 50px 50px;
	list-style: none;

	&__beverage {
		font-size: rem(48px);
		line-height: rem(50px);
		color: $logo-font-color;
		text-shadow: 1px 1px 0 $logo-shadow-color,
								 1px -1px 0 $logo-shadow-color,
								 -1px 1px 0 $logo-shadow-color,
								 -1px -1px 0 $logo-shadow-color,
								 2px 2px 0 $logo-shadow-color-2,
								 3px 3px 0 $logo-shadow-color-2;

		z-index: 1;
		cursor: pointer;
		padding: 10px 0;
		margin: 10px 0;
		text-align: center;
		border-radius: 5px;

		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;

		transform: translateY(0);
		opacity: 1;

		-webkit-transition: transform $fast $animation-curve,
												opacity $fast $animation-curve;
		-moz-transition: transform $fast $animation-curve,
										opacity $fast $animation-curve;
		transition: transform $fast $animation-curve,
								opacity $fast $animation-curve;
								

		&.animate-in {
			transform: translateY(50px);
			opacity: 0;
		}

		&:hover,
		&.selected {
			background-color: rgba(0, 0, 0, 0.03);

			// text-shadow: 1px 1px 0 $logo-shadow-color,
			// 						 1px -1px 0 $logo-shadow-color,
			// 						 -1px 1px 0 $logo-shadow-color,
			// 						 -1px -1px 0 $logo-shadow-color,
			// 						 2px 2px 0 $logo-shadow-color-2,
			// 						 3px 3px 0 $logo-shadow-color-2,
			// 						 4px 4px 0 $logo-shadow-color-2;
		}
	}
}