.footer {
	background: #412A22 url("../img/noise.png") repeat;
	width: 100%;

	&__author {
		font-family: $secondary-font;
		font-size: rem(16px);
		line-height: rem(24px);
		letter-spacing: .05em;
		word-spacing: .1em;
		color: $logo-font-color;
		padding: 30px;
		text-align: center;
		text-decoration: none;
		display: block;
		
		&:hover {
			background: rgba(0, 0, 0, 0.1);
		}
	}
}