.header {
	background: $background-color url("../img/noise.png") repeat;
	padding: 50px 0 0 0;
	text-align: center;

	&__logo {
		display: block;
		margin: 0 auto;
		width: 40%;
		padding: 40px 0;
	}

	&__get-started {
		font-family: $secondary-font;
		font-size: rem(20px);
		line-height: rem(30px);
		letter-spacing: .04em;
		word-spacing: .1em;
		color: $font-dark-color;
		padding: 0 20px 20px 20px;
		text-align: center;
	}
	
	&__divider {
		width: 60%;
		margin: 0 auto;
		color: $logo-font-color;
		border-style: none;
		border-top: 2px solid $logo-font-color;
		border-bottom: 2px solid $logo-shadow-color-2;
	}

	&__arrow{
		font-size: rem(32px);
		line-height: rem(32px);
		color: $logo-font-color;
		text-shadow: 1px 1px 0 $logo-shadow-color-2;
		display: inline-block;
		position: relative;
		top: -0.7em;
		padding: 0 0.5em;
		background: $background-color url("../img/noise.png") repeat;
		width: 1em;
		cursor: pointer;
	}
}